		body{
				background-color:#1E9FFF;
			}
			#topleft{
				background:white;
				width:350px;
				height:80px;
			}
			#topcenter{
				background:white;
				width:871px;
				height:80px;
				margin:0 auto;/*居中*/
				margin-top:-88px;
			}
			#topright{
				background:white;
				width:350px;
				height:80px;
				margin-left:930px;
				margin-top:-80px;
			}
			#maindiv1{
				background:white;
				width:300px;
				height:200px;
				margin-left:-900px;
				margin-top:50px;
			}
			#maindiv2{
				background:white;
				width:250px;
				height:200px;
				margin-left:-900px;
				margin-top:50px;
			}
			#maindiv3{
				background:white;
				width:300px;
				height:200px;
				margin-left:-400px;
				margin-top:-450px;
			}
			#maindiv4{
				background:white;
				width:300px;
				height:200px;
				margin-left:30px;
				margin-top:-70px;
			}
			#maindiv5{
				background:white;
				width:400px;
				height:200px;
				margin-left:-400px;
				margin-top:-90px;
			}
			#mainbottom{
				background:white;
				background-repeat:repeat-x;
				height:40px;
				margin-top:17px;
				margin-left:-930px;
			}
			#topwelcome{
				text-align:center;
				margin-top:8px;
			}
			#picture{
				margin-left:230px;
			}
			#link1{
				text-decoration:none;
				color:black;
				background:white;
				margin-left:200px;
			}
			#link2{
				text-decoration:none;
				color:black;
				background:white;
				margin-left:10px;
			}
			#link3{
				text-decoration:none;
				color:black;
				background:white;
				margin-left:10px;
			}
			#demo{
				background:white;
			}
			#divtitle{
				font-size:25px;
			}
			#divlink1{
				text-decoration:none;
				color:white;
				font-size:20px;
				background:blue;
				margin-left:100px;
			}
			#divlink2{
				text-decoration:none;
				color:white;
				font-size:20px;
				background:blue;
				margin-left:110px;
			}
			#divlink3{
				text-decoration:none;
				color:white;
				font-size:20px;
				background:blue;
				margin-left:30px;
			}
			#divlink4{
				text-decoration:none;
				color:white;
				font-size:20px;
				background:blue;
				margin-left:80px;
			}
